<p id="notice"><%= notice %></p>

<div class="jumbotron"><h1>Blogger</h1><h2>A blog site built with Rails and Bootstrap</h2></div>
<div class="row">
  <div class="col-sm-9">
    <% @posts.reverse.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1><%= link_to post.title, post, class: "panel-title" %></h1>
        <p><strong><%= post.author %></strong></p>
        <p><%= post.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p %m/%d/%Y") %></p>
      </div>
      <div class="panel-body">
        <p><%= post.blog_entry %></p>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <%= link_to 'Show', post, class: "btn btn-info" %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <% end %>
  </div> <!-- posts  -->
  <div class="col-sm-3">
    <div class="well">
      <h4>About the Site</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="well">
      <h4>Recent Posts</h4>
      <ul class="nav nav-pills nav-stacked">
        <% @posts.reverse.each do |post| %>
        <li><%= link_to post.title, post %></li>
        <% end %>
      </ul>
    </div>
  </div> <!-- sidebar -->
</div>
<br>
